.menu {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.menuDiv {
    position: fixed; 
    padding-top: 30px;       
    top: 0;
    left: 0;
    right: 0;       
    display: flex;
    justify-content: space-between;
    border-bottom: #fff 1px solid;
    margin: 0 10%;  
    background-color: #181818;
}

.menuUl {
    display: flex;
}

.menuUl > li {
    margin: 0 10px;
}

.menuUl > li > a {
    color: #fff;
}

.menuUl > li > button {
    border: none;         
    background: none;   
    padding: 0;              
    margin: 0;             
    font: inherit;           
    color: #fff;           
    outline: none;            
    cursor: pointer;
    font-weight: lighter;
}

.playBtn {
    float: left;
}

.styleBtn {
    background-color: #fff;
    color: #181818;
    border-radius: 30px;
    padding: 3px 25px;
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
    
    .menuDiv {
        width: 90%;
        margin: 0 5%;
    }

    .menuUl {
        display: flex;
    }

    .menuUl > li {
        display: none; 
    }
    
    .menuUl > li:first-child,
    .menuUl > li:last-child {
        display: block;
    }
}