.two-box{
    text-align: center;
    margin: 20vh auto;
    width: 70%;
}

.game-box{
    color: #fff;
}

.gameQ{
    margin-top: 30px;
}

.gameA{
    margin: 30px;
}

.gameA > button:nth-child(1) {
    background-color: #F5F5F5;
    color: black;
    margin-right: 20px;
    padding: 20px 60px; 
    border-radius: 15px;
}

.gameA > button:nth-child(2) {
    background-color: #520FF7;
    color: #fff;
    margin-left: 20px;
    padding: 20px 60px; 
    border-radius: 15px;
}

@media (max-width: 600px) {

    .gameA{
        display: flex;
        justify-content: center;
    }

    .gameA > button:nth-child(1) {
        margin-right: 10px;
        padding: 10px 30px; 
    }

    .gameA > button:nth-child(2) {
        margin-left: 10px;
        padding: 10px 30px; 
    }

}
